code/apis/admin/deleteProduct/delete_product.json
{
  "Comment": "Delete product API",
  "StartAt": "CheckIfProductExists",
  "States": {
    "CheckIfProductExists": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:660513063151:function:check-if-product-exists",
      "Next": "Exists?"
    },
    "Exists?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.productExists",
          "BooleanEquals": false,
          "Next": "ProductDoesNotExistError"
        },
        {
          "Variable": "$.productExists",
          "BooleanEquals": true,
          "Next": "DeleteProduct"
        }
      ]
    },
    "DeleteProduct": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:660513063151:function:delete-product-from-db",
      "Next": "GetAdmins"
    },
    "GetAdmins": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:660513063151:function:get-admin-mail-addresses",
      "Next": "NotifyAdmins"
    },
    "NotifyAdmins":{
      "Type": "Task",
      "Resource": "arn:aws:states:::sqs:sendMessage",
      "Parameters": {
        "QueueUrl": "https://sqs.us-east-1.amazonaws.com/660513063151/MailQueue",
        "MessageBody":{
          "emailSubject.$":"$.msg",
          "emailBody.$": "$.deletedProduct",
          "toAddress.$":"$.adminEmailIds"
        }
      },
      "ResultPath": null,
      "Next": "DeleteProductResponse"
    },
    "DeleteProductResponse": {
      "Type": "Pass",
      "Parameters": {
        "result.$": "$.deletedProduct",
        "isEnd": true
      },
      "End": true
    },
    "ProductDoesNotExistError": {
      "Type": "Pass",
      "Parameters": {
        "result": "Product does not exists. Please enter a valid product.",
        "isEnd": true
      },
      "End": true
    }
  }
}